.flowvis-slider-wrapper{
    flex:1 1 25em;
    .slider-range-labels,
    .slider-range-label-marks{
      margin-bottom:0.5em;
      list-style-type:none;
      padding:0;
      display:flex;
      justify-content:space-between;
    }
    .slider-range-label-marks{
      li{
        flex: 1 1 auto;
        height: 20px;
        opacity: 0.5;
      }
    }
    .flowvis-slider{
      -webkit-appearance: none;  /* Override default CSS styles */
      appearance: none;
      width: 100%; /* Full-width */
      height: 10px; /* Specified height */
      background: #9e9e9e; /* Grey background */
      outline: none; /* Remove outline */
      opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
      -webkit-transition: .2s; /* 0.2 seconds transition on hover */
      transition: opacity .2s;
      &:hover{
        opacity:1;
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 10px; /* Set a specific slider handle width */
        height: 40px; /* Slider handle height */
        background: @skyBlue;
        cursor: pointer; /* Cursor on hover */
        border-radius:2px;
        margin-left:0;
      }
      &::-moz-range-thumb {
        width:10px; /* Set a specific slider handle width */
        height: 40px; /* Slider handle height */
        background: @skyBlue; /* Green background */
        cursor: pointer; /* Cursor on hover */
      }
    }
  }

.flowvis-widget{
  .flowvis-ui-wrapper{
    display:flex;
    width:100%;
    align-items:center;
    justify-content:space-around;
    .flowvis-stat{
      flex:1 1 15em;
      padding-left:1em;
  	}
    margin-bottom:1em;
  }
  .flowvis-stats{
    display:flex;
  }
  .flowvis-stat{
    flex:1 1 20em;
    &.positive{
      .data{
        color:#53db60;
      }
    }
  }
  .data{
      color:white;
      font-size:3.5em;
      font-weight:600;
      font-family: proxima-nova;
      letter-spacing: 1px;
      @media screen and (max-width:768px) {
        font-size:2.2em;
      }
  }
  .label{
      color:white;
      font-size:1.3em;
      line-height:1vw;
      @media screen and (max-width:768px) {
        font-size:1em;
      }
  } 
}

#collection-5ebc3715f54aff11d5b1c6a1{
  .desc-wrapper{
    margin-top:52px;
    margin-bottom:52px;
    > p {
      height:0;
      overflow:hidden;
      margin:0;
    }
  }
  .instructions{
    p{
      opacity:0.9;
    }
  }

  .banner-thumbnail-wrapper.has-description{
    background:white;
    padding-top:0;
    padding-bottom:0;
    *{
      text-align:left;
    }
    p{
      font-size:1em;
      font-weight:200;
      color:white;
    }
    h2{
      color:white;
      font-weight:300;
      @media screen and (min-width:1025px) and (max-width:1799px){
        font-size:2.8vw;
        line-height:3.5vw;
      }
      @media screen and (min-width:1025px) and (min-width:1800px){
        font-size:3em;
      }
    }
  }

  .index-section{
    h1{
      background:@royalBlue;
      color:white;
      display:inline-block;
      padding:0.5em;
      position:relative;
      &:after{
        content:"";
        position:absolute;
        background:@royalBlue;
        height:110px;
        left:-500px;
        top:0;
        width:500px;
        @media screen and (max-width:1024px) {
          display:none;
        }
      }
    }
    .color-overlay{
      display:none;
    }
    ol{
      padding-left:0;
      > li:nth-child(1),
      > li:nth-child(2){
        margin-bottom:4em;
      }
    }
    &#about-your-pool{
      .flowvis-widget{
        margin:1em;
      }
    }
    &#cost-result,
    &#savings-per-year{
      .index-section-wrapper{
        padding-top:0px;
      }
      .desc-wrapper{
        margin-top:-2em;
      }
    }
    &#flowvis-disclaimer{
      .page-content{
          padding-top:2.5em;
          padding-bottom:2.5em;
      }
      .sqs-layout{
        min-height:0;
      }
      margin-bottom:3em;
      p{
        font-size:14px;
      }
    }
  }
}