@darkblue: rgb(47, 64, 124);
@blue: rgb(10, 96, 182);
@lightblue: rgb(207, 228, 248);
// Header
#header {
    @media screen and (min-width: 1024px) {
        display: none;
    }
}

#h2flow-main-nav {
    @media screen and (min-width: 1025px) {
        display: block !important;
    }
}

.H2F-top {
    background: @blue;
    width: 100%;
    height: 15px;
    border-bottom: 2px solid white;
}

.H2F {
    border-top: 4px solid @darkblue;
    .H2F__upper-navigation {
        margin-bottom: -34px;
        .H2F__inner-navigation-content {
            padding-top: 1em;
        }
        .nav-wrapper {
            margin-right: -1.5em;
        }
        .nav-item {
            img {
                max-height: 20px;
                margin-bottom: -5px;
            }
            margin-right: 1.5em;
            flex:0 1 100px;
        }
    }
    .H2F__main-navigation {
        .H2F__inner-navigation-content {
            padding: 0em 1em;
            padding-bottom: 1em;
            display: flex;
            align-items: flex-end;
            .H2F__logo {
                flex: 0 1 200px;
            }
            .H2F__navigation {
                flex: 1 1 500px;
            }
        }
    }
    #h2-navigation-upper {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-items: center;
    }
    #h2-navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 80%;
        .nav-item {
            text-align: center;
            font-size: 1em;
            text-transform: uppercase;
            position: relative;
            margin-bottom: -20px;
            a {
                height: 60px;
                display: block;
            }
        }
    }
}

// Dropdown Menus
.H2F__mega-menu-wrapper {
    position: relative;
    border-top: 2px solid @lightblue;
    border-bottom: 2px solid @lightblue;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    &.active {
        transition: opacity 0.3s;
        opacity: 1;
        visibility: visible;
    }
    &.transition-out {
        opacity: 0;
    }
    .H2F__mega-menu {
        opacity: 0;
        transition: opacity 0.3s 0.2s;
        &.active {
            opacity: 1;
        }
        &.transition-out {
            opacity: 0;
        }
    }
    .H2F__dropdown-nav {
        padding: 0 2em;
        display: flex;
        margin-left: -1.3em;
        justify-content: space-around;
        >.nav-item {
            flex: 1 1 50px;
            padding: 1.3em;
            border-right: 2px solid @lightblue;
            &:last-child {
                border-right: none;
            }
        }
    }
    .folder-toggle {
        font-weight: 600;
        margin-bottom: 1em;
        color: @darkblue;
        text-transform: uppercase;
    }
}